name: build and deploy

on:
  push:
    branches:
      - master 
  pull_request:
    branches:
      - master


jobs:
  qa-plan:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: checkout-repo
        uses: actions/checkout@v4
      
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.5.7

      - name: Setup Aws Authorization
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: "arn:aws:iam::424851482428:role/abc"
          aws-region: us-east-1

      - name: Terraform Intialization
        run: terraform init
      
      - name: Run qa TF Plan
        run: terraform plan -var-file="enviornments/qa.tfvars" -out=tfplan

      - name: Print all the files
        run: ls -la cat-blog

      - name: Artifactory upload
        uses: actions/upload-artifact@v4
        with:
          name: qa-tfplan
          path: cat-blog/tfplan

  qa-apply:
    needs: qa-plan
    runs-on: ubuntu-latest
    environment: qa
    steps:
      - name: Donwnload Artifacts
        uses: actions/download-artifact@v4
        with:
          name: qa-tfplan
          path: cat-blog

      - name: Terraform Intialization
        working-directory: ./cat-blog
        run: terraform init
      

      - name : terrafor Apply
        run: terraform apply "tfplan"
        working-directory: ./cat-blog
