name: adhoc-terraform-comment

on:
  issue_comment:
    types: [created]

jobs:
  run-terraform:
    if: contains(github.event.comment.body, '/apply qa')
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Download tfplan
        uses: actions/download-artifact@v4
        with:
          name: qa-tfplan

      - name: Apply via comment
        uses: ./.github/actions/terraform_commons
        with:
          action: "apply"
          tf_var_file: "enviornments/qa.tfvars"
