name: qa plan and apply

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  id-token: write
  contents: read

jobs:

  build_and_push_image:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4


      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: "arn:aws:iam::424851482428:role/abc"
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, and push docker image to Amazon ECR
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          REPOSITORY: cat-blogs
          IMAGE_TAG: latest
        run: |
          docker build -t $REGISTRY/$REPOSITORY:$IMAGE_TAG .
          docker push $REGISTRY/$REPOSITORY:$IMAGE_TAG
  qa-plan:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Terraform Plan
        uses: ./.github/actions/terraform_commons
        with:
          action: "plan"
          tf_var_file: "enviornments/qa.tfvars"

      - name: Upload tfplan
        uses: actions/upload-artifact@v4
        with:
          name: qa-tfplan
          path: tfplan

  qa-apply:
    needs: qa-plan
    runs-on: ubuntu-latest
    environment: qa
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}

    steps:
      - uses: actions/checkout@v4

      - name: Download tfplan
        uses: actions/download-artifact@v4
        with:
          name: qa-tfplan

      - name: Debug show downloaded files
        run: ls -la

      - name: Terraform Apply
        uses: ./.github/actions/terraform_commons
        with:
          action: "apply"
          tf_var_file: "enviornments/qa.tfvars"
