name: Terraform Common

permissions:
  id-token: write
  contents: read

on:
  workflow_call:
    inputs:
      action:
        required: true
        type: string
      tf_var_file:
        required: false
        type: string

jobs:
  terraform_basic_runs:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.5.7

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: "arn:aws:iam::424851482428:role/abc"
          aws-region: us-east-1

      - name: print dirs
        run: ls -la

      - name: Terraform Init
        run: terraform init

      - name: Run Terraform
        shell: bash
        run: |
          if [[ "${{ inputs.action }}" == "plan" ]]; then
            terraform plan -var-file="${{ inputs.tf_var_file }}" -out=tfplan
          elif [[ "${{ inputs.action }}" == "apply" ]]; then
            terraform apply "tfplan"
          else
            echo "Unknown action"
            exit 1
          fi
